<%- include('header') %>
</head>


<body>
<br>

<form method="POST" action="/user/signup" class="row g-3" style="margin: 1em;">


    <div class="col md-6">
        <input
                type="text"
                class="form-control"
                placeholder="E-mail"
                name="email"
        />
    </div>
    <div class="col md-6">
        <input
                type="password"
                class="form-control"
                placeholder="Mot de passe"
                name="password"
        />
    </div>


    </div>

    <button class="btn btn-secondary" type="submit">Envoyer</button>
</form>
</body>
</html>
